body {
  background: #DB7769;
}

#loader {
  -webkit-animation: loader 5s cubic-bezier(.8,0,.2,1) infinite;
  height: 40px;
  width: 41px;
  position: absolute;
  top:calc(50% - 20px);
  left:calc(50% - 20px);
}
@-webkit-keyframes loader {
  90% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(180deg); }
}
#top {
  -webkit-animation: top 5s linear infinite;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
}
@-webkit-keyframes top {
  90% { -webkit-transform: scale(0); }
  100% { -webkit-transform: scale(0);}
}
#bottom {
  -webkit-animation: bottom 5s linear infinite;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent;
  height: 0px;
  width: 1px;
  -webkit-transform: scale(0);
  transform-origin: 50% 100%;
}
@-webkit-keyframes bottom {
  10% { -webkit-transform: scale(0); }
  90% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}
#line {
  -webkit-animation: line 5s linear infinite;
  border-left: 1px dotted #fff;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 20px;
  left: 20px;
}
@-webkit-keyframes line {
  10% { height: 20px; }
  100% { height: 20px; }
}
img {
    margin-top: 100px;
}
